canvas {
    color: red;
    border: 3px solid rgb(30, 30, 30);
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
}
body {
    background-color: rgb(40, 40, 40);
    color: rgb(130, 130, 130);
    font-family: sans-serif;
}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
#gameCanvas{
    width:800px;
    height:800px;
    margin:10px;
}
#statistics{
    margin:10px;
}
.stat-value{
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
.stat-title{
    margin:5px;
    font-size: 30px;
    font-style: bold;
    display: inline-block;
}
h1{
    text-align: center;
    font-size: 36pt;
    margin: 5px;
    padding: 5px;
    background:black;
}