canvas {
    color: red;
    border: 3px solid rgb(30, 30, 30);
    border-radius: 5px;
    background-color: rgb(55, 55, 55);
}
body {
    background-color: rgb(40, 40, 40);
    color: rgb(130, 130, 130);
    font-family: sans-serif;
}
#title {
    font-size: 72px;
    margin: 10px 10px 10px 10px;
}
#gameCanvas{
    float:left;
}
#statistics{
    margin: 20px 20px;
    float:left;
}
.stat{
    float:left;
}
.chart{
}
.stat-value{
    font-size: 15px;
    margin: 10px 10px;
    float: left;
}
.stat-title{
    float: left;
    font-size: 30px;
    font-style: bold;
    margin: 10px 0px;
}